%caption-with-icon {
  display: flex;
  align-items: center;
  gap: .25em;
  cursor: pointer;

  &:active::before {
    transform: translateY(1px);
  }

  &:before {
    flex: none;
    @extend %icon-on-before;
  }
}

.accordion {
  &.--opened>.accordion__section {
    max-height: unset;
    overflow: hidden;
  }

  &.--theme-mounth {

    &.--opened {
      margin-bottom: 3.125em;
    }

    & .accordion__caption {
      min-height: 2.5rem;
      margin-bottom: .5em;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: rgba(map-get($colors, "primary"), .05);
      }
    }
  }

  &.--theme-day {

    &.--opened {
      margin-bottom: 1.875em;
    }

    & .accordion__caption {
      min-height: 2.5rem;
      margin-bottom: .5em;
      font-size: 1.25em;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 2px solid var(--dark);
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: rgba(map-get($colors, "primary"), .05);
      }
    }
  }

  &.--icon-chevron {
    &.--opened>.accordion__caption::before {
      content: '\F0140';
    }

    &>.accordion__caption {
      @extend %caption-with-icon;

      &:before {
        content: "\F0142";
      }
    }
  }

  &__caption {
    margin: 0;
  }

  &__section {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    transition-property: padding-bottom, max-height;
  }
}