.accordion {
  &.--opened>.accordion__section {
    max-height: unset;
    overflow: hidden;
  }

  &.--theme-text {

    &.--opened .accordion__caption {
      border-color: var(--darkLow);
      margin-bottom: 1.25em;
    }

    .accordion__caption {
      display: flex;
      align-items: center;
      gap: .75em;
      padding: .5rem;
      font-size: 1.125em;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: background-color .25s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--g200);
      }
    }
  }

  &.--icon-plus {
    &.--opened>.accordion__caption::before {
      content: "\F0374";
    }

    &>.accordion__caption {
      &:before {
        flex: none;
        @extend %icon-on-before;
        line-height: 100%;
        background-color: var(--g100);
        color: var(--darkLow);
        border-radius: 50%;
        @include box(1.25em);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::before {
        content: "\F0415";
      }

      &:active::before {
        transform: translateY(1px);
      }
    }
  }

  // &__caption {}

  &__section {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    transition-property: padding-bottom, max-height;
  }
}