.bread-crumbs {
  @extend %reset-list;

  align-self: center;
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: .5em;

  @extend %cutText;

  &__item {
    font-weight: 500;
    color: var(--g300);
    @extend %cutText;

    &:last-child {
      color: var(--dark);
    }

    &:not(:last-child) {
      cursor: pointer;

      &:hover {
        color: var(--dark);
      }
    }

    &:not(:last-child) {

      &::after {
        @extend %icon-on-before;
        vertical-align: middle;
        margin-left: .25rem;
        content: "\F0142";
      }
    }

  }
}