.button {
  @extend %reset-btn;

  min-height: 3.125em;
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-block;

  font-weight: 500;

  padding: .25em 1.5em;
  text-align: center;
 
  border-radius: 15px;

  transition: .25s ease-out;
  transition-property: box-shadow;

  &:disabled {
    pointer-events: none;
    user-select: none;
    background-color: var(--g100);
    color: var(--darkLow);
  } 

  &.--icon-add::before {
    content: "\F0415";
  }
  &.--icon-back::before {
    content: "\F0141";
  }

  &.--icon-on-before {
    display: inline-flex;
    align-items: center;
    gap: .375em;
    padding-left: 1em;

    &:before {
      @extend %icon-on-before;
    }
  }

  &.--variant-icon {
    min-width: 2.5em;
    max-width: 2.5em;
    @include box(2.5em);
    
    min-height: unset;
    padding: .5em;
    border-radius: 50%;
    gap: 0;
  }

  &.--size-sm {
    font-size: .875em;
    padding: .25rem 1rem;
    min-height: 2.75rem;

    &::before {
      font-size: 1.375em;
    }
  }

  &:not(:disabled).--theme-primary {
    color: var(--white);
    background-image: var(--primary-gradient);
    background-color: var(--primary);

    &:hover {
      box-shadow: 0 2px 6px rgba(black, .15);
    }
  }

  &:not(:disabled).--theme-outline {
    color: var(--dark);
    border-color: var(--primary);

    &:hover {
      background-color: rgba(map-get($colors, "primary"), .1);
    }
  }

  &:not(:disabled).--theme-text {
    color: var(--primary);

    &:hover {
      background-color: rgba(map-get($colors, "primary"), .1);
    }
  }

  &.--spinner-actived {
    position: relative;
    @extend :disabled;
    color: transparent;

    & .button__spinner {
      display: flex;
    }
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    @include box(100%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &>div {
      @include box(0.875em);
      background-color: var(--g300);
      margin-right: 2.5%;
      animation: loader 1.25s infinite ease-in-out both;

      &:nth-of-type(2) {
        animation-delay: .25s;
      }

      &:last-of-type {
        animation-delay: .5s;
        margin-right: 0;
      }
    }
  }
} 

@include keyframes(loader) {

  0%,
  80%,
  100% {
    transform: translate3d(0, 0, 0) scale(0.25);
    opacity: 0;
  }

  40% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}