.content {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;

  &__menu {
    grid-row: 1/-1;
  }

  &__main {
    padding: .5em .5em 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--g100);
  }

  &__section {
    padding: .5em .5em 0;
    box-sizing: border-box;
    overflow-y: auto;
  } 

  &__tab {
    flex: auto;
    height: 100%;

    padding: .5em .5em 0;
    box-sizing: border-box;
    overflow-y: hidden;

    & .tab__section {
      overflow-y: auto;
    }
  }

  &__title {
    font-family: var(--ff-firm);
    font-size: min(3.25vmax, 1.875em);
    font-weight: 700;
    margin: 0 0 min(5vmax, 3.125rem);
  }
}

@include media(sm) {
  .content {
    grid-template-columns: auto 1fr;

    &__header {
      grid-column: 2/3;
    }

    &__section, &__tab .tab__section {
      height: 100%;
      border-radius: 25px;
      box-shadow: 0 0 15px rgba(black, .15);
      background-color: var(--white);
    }
  }
}