.content {
  font-family: var(--ff-base);

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: auto;

    margin: 5.125em 0 0;
    padding: .5em .5em 3.125em;
    background-color: var(--white);
    box-sizing: border-box;
    overflow: auto;
  }

  &__title-block {
    display: flex;
    gap: .5em;
    line-height: 1.5;
  }

  &__title {
    font-family: var(--ff-firm);
    font-size: min(3.25vmax, 1.875em);
    font-weight: 600;
    margin: 0 0 min(5vmax, 3.125rem);

    &.--mb-small {
      margin: 0 0 min(2vmax, 1rem);
    }
  }
}

@include media(sm) {
  .content {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    background-color: var(--g100);

    &__main {
      margin: 1em .5em 0;
      padding: 1.25em;
      box-shadow: 0 0 15px rgba(black, .15);
      border-radius: 25px;
    }
  }
}