.form {
  display: flex;
  gap: .75em;
  flex-direction: column;

  &.--place-login {
    width: 20em;
    max-width: 100%;

    & .form__info-text {
      margin: 0;
      color: var(--error);
      opacity: 0;
      height: 0;
      pointer-events: none;
      user-select: none;

      &.--actived {
        opacity: 1;
        height: auto;
      }
    }
  }

  &.--place-new-user {
    display: grid;
    gap: 0 1.25em;
    // max-width: 75em;

    @include media(lg) {
      grid-template-columns: .55fr .45fr;

      .form__section.--content-access {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .form__controls {
        grid-column: 1/-1;
      }
    }
  }

  &.--place-theatre {
    display: grid;
    gap: 0 1.25em;

    .form__controls {
      grid-column: 1/-1;
    }

    @include media(lg) {
      grid-template-columns: .55fr .45fr;
    }
  }

  // &__editor-block {}

  &__accordion:last-of-type {
    margin: 0 0 min(3.5vmax, 1.875em);
  }

  &__field-block {
    display: grid;
    gap: .5em 0;
    grid-template-columns: 1fr auto;

    .form__social-block-url,
    .form__editor-block {
      grid-column: 1/-1;
    }
  }

  &__multy-block {
    @include media(sm) {
      display: grid;
      gap: 0 1.25em;
      align-items: start;
      grid-template-columns: min(35%, 20em) 1fr;

      .form__label {
        padding-top: calc(var(--field-v-paddings) / 2);
      }

      .info {
        position: relative;
        top: unset;
        grid-column: 2/3;
      }
    }
  }

  &__label {
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    line-height: 150%;
  }

  &__title {
    margin: 0 0 .5rem;
    padding-bottom: .5rem;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(map-get($colors, "primary"), .54);
  }

  &__section {
    display: flex;
    gap: .5em;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 min(3.5vmax, 1.875em);
    border: none;
  }

  &__controls {

    & .button:not(:first-child) {
      margin-left: .25em;
    }
  }

  &__icon-btn {
    align-self: end;
    margin-bottom: .25rem;
    margin-left: auto;
    margin-right: auto;
  }
}