.form {
  display: flex;
  gap: .75em;
  flex-direction: column;

  &.--place-login {
    width: 20em;
    max-width: 100%;

    & .form__info-text {
      margin: 0;
      color: var(--error);
      opacity: 0;
      height: 0;
      pointer-events: none;
      user-select: none;

      &.--actived {
        opacity: 1;
        height: auto;
      }
    }
  }

  &.--place-new-user {
    display: grid;
    gap: .75em 1.875em;
    max-width: 70em;

    @include media(lg) {
      grid-template-columns: .6fr .4fr;

      & .form__section.--content-access {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }

  &__title {
    margin: 0 0 .5em;
    padding-bottom: .5em;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(map-get($colors, "primary"), .54);
  }

  &__section {
    display: flex;
    gap: .75em;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 min(5vmax, 3.125em);
    border: none;
  }

  &__controls {
    grid-column: 1/-1;
    justify-self: end;

    & .button:not(:first-child) {
      margin-left: .25em;
    }
  }
}