.form {
  display: flex;
  gap: .75em;
  flex-direction: column;

  &.--place-login {
    width: 20em;
    max-width: 100%;

    & .form__info-text {
      margin: 0;
      color: var(--error);
      opacity: 0;
      height: 0;
      pointer-events: none;
      user-select: none;

      &.--actived {
        opacity: 1;
        height: auto;
      }
    }
  }

  // Для разметки колонок в формах
  &__container {
    &.--view-one-column {
      max-width: 45em;
    }

    &.--view-two-columns {
      display: grid;
      gap: 0 1.25em;

      .form__section {
        max-width: unset;
      }

      @include media(lg) {
        grid-template-columns: .55fr .45fr;
      }
    }
  }

  &__group-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
  }

  &__editor-block {
    min-width: 100%;
  }

  .form__field {
    flex: auto;
  }

  &__multy-block {
    @include media(sm) {
      display: grid;
      gap: 0 1.25em;
      align-items: start;
      grid-template-columns: min(35%, 20em) 1fr;

      .form__label {
        padding-top: var(--field-v-paddings);
      }

      .info {
        position: relative;
        top: unset;
        grid-column: 2/3;
      }
    }
  }

  &__label {
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    line-height: 150%;
  }

  &__title {
    margin: 0 0 .5rem;
    padding-bottom: .5rem;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(map-get($colors, "primary"), .54);
  }

  &__section {
    max-width: 45em;
    display: flex;
    gap: .5em;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 min(3.5vmax, 1.875em);
    border: none;
  }

  &__controls {
    display: flex;
    gap: .25em;
    flex-wrap: wrap;
  }

  &__shows {
    @extend %reset-list;
    counter-reset: number;
  }

  &__show {
    &::before {
      font-weight: 600;
      color: var(--primary);
      padding: .5em;
      aspect-ratio: 1/1;
      width: max-content;
      text-align: center;
      background-color: rgba(map-get($colors, "primary"), .15);
      counter-increment: number;
      content: counter(number);
    }
  }

  &__tab {
    margin-top: min(3vmax, 1.875em);
  }

  &__icon-btn {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__add-btn {
    margin-top: min(3vmax, 1.875em);
    align-self: start;
  }

  &__social-icon {
    flex: none;
    @include box(1.785em);

    svg {
      width: inherit;
      height: inherit;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include box(2em);
    border-radius: 50%;
    box-sizing: border-box;
    align-self: center;
    text-decoration: unset;
    color: inherit;

    &:hover {
      background-color: var(--g200);
    }

    .mdi {
      line-height: 1;
      font-size: 1.25em;
    }
  }
}