.game-item {
  min-height: 3.125em;
  padding: .675em 1em;
  box-sizing: border-box;
  display: grid;
  gap: 1.25em;
  align-items: center;
  grid-template-columns: 6.25em 1.5em 1fr 5em 1.5em;
  border-bottom: 1px solid var(--g200);

  &.--place-request {
    transition: background-color .25s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba(map-get($colors, "primary"), .05);
    }
  }

  &__time {
    text-align: center;
  }

  &__icon {
    flex: none;
    min-width: 1.5em;
    max-width: 1.5em;
    @include box(1.5em);
    background-color: var(--dark);
  }

  // &__teams {}

  &__team {
    margin: 0;
    font-size: .875em;
    color: var(--darkLow);
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark);
  }

  &__score {
    text-align: center;
    font-weight: 500;
    margin: 0;
  }

  &__btn {
    @extend .button;
    @extend .--icon-on-before;

    padding: 0;
    min-height: unset;
    gap: 0;

    &::before {
      content: "\F03ED";
    }

    &:active::before {
      transform: translateY(1px);
    }
  }
}

@include media(md, max) {
  .game-item {
    grid-template-columns: 1.5em 1fr 5em 1.5em;

    &__time {
      grid-column: 2/3;
      text-align: left;
    }

    &__icon {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__teams {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }
}