.header {
  display: flex;
  padding: 0 .75em;
  box-sizing: border-box;
  gap: .875em;
  background-color: var(--white);
  box-shadow: 0 0 15px rgba(black, .15);
  position: relative;

  &__item {
    align-self: center;
    @extend .button;
    @extend .--theme-text;
    @extend .--icon-on-before;
    @extend .--variant-icon;

    &.--type-burger::before {
      content: "\F035C";
    }
  } 
}

@include media(sm, max) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

@include media(sm) {
  .header {
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 25px;

    &__item.--type-burger {
      display: none;
    }
  }
}