.icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: contain;

  // MAIN menu
  &.--type-users {
    mask-image: url(../../images/icons/users.svg);
  }

  &.--type-school {
    mask-image: url(../../images/icons/schools.svg);
  }

  &.--type-my-school {
    mask-image: url(../../images/icons/my-school.svg);
  }

  &.--type-theatres {
    mask-image: url(../../images/icons/theaters.svg);
  }

  &.--type-poster {
    mask-image: url(../../images/icons/poster.svg);
  }

  &.--type-requests {
    mask-image: url(../../images/icons/applications.svg);
  }

  &.--type-settings {
    mask-image: url(../../images/icons/settings.svg);
  }
}