.icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: contain;

  // MAIN menu
  &.--type-users {
    mask-image: url(../../images/icons/users.svg);
  }

  &.--type-school {
    mask-image: url(../../images/icons/schools.svg);
  }

  &.--type-events {
    mask-image: url(../../images/icons/events.svg);
  }

  &.--type-requests {
    mask-image: url(../../images/icons/applications.svg);
  }

  &.--type-schedule {
    mask-image: url(../../images/icons/shedule.svg);
  }

  &.--type-registrations {
    mask-image: url(../../images/icons/participants.svg);
  }

  &.--type-winners {
    mask-image: url(../../images/icons/winners.svg);
  }

  &.--type-statistics {
    mask-image: url(../../images/icons/statistics.svg);
  }

  &.--type-settings {
    mask-image: url(../../images/icons/settings.svg);
  }


  // TYPE OF SPORT
  &.--type-basketball {
    mask-image: url(../../images/icons/basketball.svg);
  }

  &.--type-checkers {
    mask-image: url(../../images/icons/checkers.svg);
  }

  &.--type-chess {
    mask-image: url(../../images/icons/chess.svg);
  }

  &.--type-football {
    mask-image: url(../../images/icons/football.svg);
  }

  &.--type-pinpong {
    mask-image: url(../../images/icons/pinpong.svg);
  }

  &.--type-rugby {
    mask-image: url(../../images/icons/rugby.svg);
  }

  &.--type-valleyball {
    mask-image: url(../../images/icons/valleyball.svg);
  }

  &.--type-cybersport {
    mask-image: url(../../images/icons/cybersport.svg);
  }

  &.--type-fitness {
    mask-image: url(../../images/icons/fitness.svg);
  }

  &.--type-floorball {
    mask-image: url(../../images/icons/floorball.svg);
  }

  &.--type-golf {
    mask-image: url(../../images/icons/golf.svg);
  }

  &.--type-gymnastics {
    mask-image: url(../../images/icons/gymnastics.svg);
  }

  &.--type-handball {
    mask-image: url(../../images/icons/handball.svg);
  }

  &.--type-minifootball {
    mask-image: url(../../images/icons/minifootball.svg);
  }

  &.--type-presidential-contests {
    mask-image: url(../../images/icons/presidential-contests.svg);
  }

  &.--type-presidential-games {
    mask-image: url(../../images/icons/presidential-games.svg);
  }

  &.--type-primary-school {
    mask-image: url(../../images/icons/primary-school.svg);
  }

  &.--type-single-combat {
    mask-image: url(../../images/icons/single-combat.svg);
  }

  &.--type-spartakiad-hope {
    mask-image: url(../../images/icons/spartakiad-hope.svg);
  }

  &.--type-spartakiad-invasport {
    mask-image: url(../../images/icons/spartakiad-invasport.svg);
  }

  &.--type-sport-activities {
    mask-image: url(../../images/icons/sport-activities.svg);
  }

  &.--type-swimming {
    mask-image: url(../../images/icons/swimming.svg);
  }

  &.--type-winter-sport {
    mask-image: url(../../images/icons/winter-sport.svg);
  }

  &.--type-badminton {
    mask-image: url(../../images/icons/badminton.svg);
  }

  // System game
  &.--type-round {
    mask-image: url(../../images/icons/round.svg);
  }

  &.--type-play-off {
    mask-image: url(../../images/icons/playoff.svg);
  }

  &.--type-mixed {
    mask-image: url(../../images/icons/mixed.svg);
  }
}