.info {
    &__list {
        @extend %reset-list;

        display: flex;
        gap: 1.25em;
        flex-direction: column;
        margin: 0 0 min(3.5vmax, 1.875em);
    }
    &__item {
        display: grid;
        gap: 0 1.25em;
        align-items: baseline;
        grid-template-columns: min(35%, 20em) 1fr;
    }
    &__label {
        flex: 0 0 15em;
        margin: 0;
        font-size: 1em;
        font-weight: normal;
        color: var(--darkLow);
    }
    &__description {
        margin: 0;
        font-weight: 500;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: min(2.5vmax, 1.25em) 0;
        // padding-bottom: 0.5rem;
        font-size: 1.25em;
        font-weight: 600;
        color: var(--public-accent);
        text-transform: uppercase;
        // border-bottom: 2px solid rgba(map-get($colors, "primary"), 0.54);
    }

    &__social {
        @extend %reset-list;
        display: flex;
        gap: 0.675em;
    }
    &__social-link {
        text-decoration: unset;
        border-radius: 50%;
        @include box(2.5em);
        display: flex;
        background-color: var(--g200);
        transition: all 0.15s ease-in;

        &:hover {
            transform: translateZ(0) scale(1.1);
        }
        & svg {
            margin: auto;
            @include box(1.5em);
        }
    }

    &__editor {
        max-width: 50em;
    }
}
