.logo {
  max-width: 100%;
  object-fit: contain;

  &.--place-login { 
    position: absolute;
    bottom: 68%;
    left: 63%;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15)); 

    @include media(md, max) {
      display: none;
    }
  }
  &.--place-menu { 
    background-color: var(--white);
    border-radius: 50%;
    width: 3.25em;
    height: 3.25em;
  }
}