.menu {
  margin: 0;
  padding: 0;

  display: flex;
  overflow: hidden;

  &__container {
    width: 15em;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    color: var(--white);
    background-image: var(--primary-gradient);
    background-color: var(--primary);
  }

  &__logo-block {
    display: flex;
    gap: .75em;
    align-items: center;
    justify-content: center;
    padding: .5em .875em;
    box-sizing: border-box;
  }

  &__title {
    margin: 0;
    font-size: 1.25em; 
    font-weight: 500;
    color: var(--white);
  }

  &__list {
    @extend %reset-list;
    flex: auto;
    overflow-y: auto;

    padding-top: min(5vmax, 3.125em);
    padding-left: 1em;

    display: flex;
    flex-direction: column;
    gap: .75em;

    @include scroll-bar();
  }

  &__link {
    text-decoration: none;
    color: inherit;

    display: flex;
    gap: .5em;
    align-items: center;
    padding: .5em .875em;
    cursor: pointer;
    border-radius: 25px 0 0 25px;
    transition: color .25s ease-in-out;

    position: relative;

    &.--actived {
      cursor: default;
      color: var(--dark);
      background-color: var(--g100);

      position: relative;
      z-index: 1;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        top: -50px;
        right: 0;
        width: 20px;
        height: 50px;
        border-radius: 0 0 25px 0;
        box-shadow: 0 25px 0 0 var(--g100);
        z-index: -1;
      }

      &::after {
        top: auto;
        bottom: -50px;
        border-radius: 0 25px 0 0;
        box-shadow: 0 -25px 0 0 var(--g100);
      }

      & .menu__icon {
        background-color: var(--dark);
      }
    }

    &:not(.--actived):hover {
      background-color: rgba($color: white, $alpha: .15);
    }
  }

  &__icon {
    @include box(1.875em);
    background-color: var(--white);
    transition: .25s ease-in-out;
    transition-property: background-color;
  }

  &__text {
    margin: 0;
    flex: auto;
  }

  &__button {
    flex: none;
    margin: .5em;

    @extend .button;
    @extend .--icon-on-before;
    border-radius: 25px;
    padding: .5em;

    background-color: rgba($color: white, $alpha: .15);

    &:hover {
      background-color: rgba($color: white, $alpha: .26);
    }

    &:before {
      content: "\F0141";
      font-size: 1.5em;
      margin-left: auto;
    }
  }

  // подложка по которой кликать, чтобы окно закрыть.
  &__back {
    display: none;
  }
}

@include media(sm, max) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    @include box(100%);
    z-index: 1;
    background-color: transparent;
    transition: background-color .35s ease-in-out;
    pointer-events: none;
    user-select: none;

    &.--opened {
      background-color: rgba($color: black, $alpha: .54);
      pointer-events: unset;
      user-select: unset;

      & .menu__container {
        transform: translateX(0);
      }
    }

    &__container {
      box-shadow: 0 0 15px rgba($color: black, $alpha: .15);
      transition: transform .35s ease-in-out;
      transform: translateX(-120%);
    }

    &__list {
      padding-right: 1em;
    }

    &__link {
      border-radius: 25px;

      &.--actived::before,
      &.--actived::after {
        content: unset;
      }

    }

    &__back {
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      @include box(100%);
    }

    &__button {
      display: none;
    }
  }
}

@include media(sm) {
  .menu {

    border-radius: 0 25px 25px 0;

    &.--size-sm {
      & .menu__container {
        width: unset;
      }

      & .menu__logo-block {
        padding: .5em;
      }

      & .menu__title {
        display: none;
      }

      & .menu__list {
        padding-left: .5em;
      }

      & .menu__text {
        display: none;
      }

      & .menu__button {

        &::before {
          margin: auto;
          transform: scale(-1, 1);
        }
      }
    } 

    &.--size-md {

      & .menu__container {
        width: unset;
      }

      & .menu__title {
        display: none;
      }

      & .menu__list {
        padding-left: .5em;
      }

      & .menu__link {
        flex-direction: column;
        text-align: center;
        max-width: 6em;
        padding: .5em;
      }

      & .menu__text {
        font-size: .75em;
      }
    }
  }
}