.pagin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .125em;
  margin: .5em 0;

  &__thumb {
    flex: none;

    @extend .button;
    @extend .--icon-on-before;

    display: flex;
    align-items: center;
    justify-content: center;
    @include box(2em, 1.5em);
    padding: 0;
    min-height: unset;
    color: var(--accent);
    opacity: .75;
    transition-property: opacity;

    &:hover {
      opacity: 1;
    }

    &[disabled] {
      background-color: transparent;
      user-select: none;
      pointer-events: none;
      color: var(--g200);
    }

    &:active {
      transform: translateY(1px);
    }

    &.--type-prev {
      &::before {
        content: "\F0141";
      }
    }

    &.--type-next {
      &::before {
        content: "\F0142";
      }
    }
  }

  &__list {
    @extend %reset-list;
    display: flex;
    gap: .125em;

    max-width: 100%;
    overflow-x: auto;
  }

  &__item {
    flex: none;
    min-width: 2em;
    max-width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    box-sizing: border-box;
    @include box(2em, 1.5em);
    color: var(--g300);
    cursor: pointer;

    &:not(.--actived):hover {
      color: var(--primary);
    }

    &.--actived {
      // background-color: var(--g100);
      // border: 1px solid var(--g300);
      // box-sizing: border-box;
      // box-shadow: inset 0 0 2px var(--g300);
      color: var(--dark);
      font-weight: 500;
    }
  }
}