.profile {
  flex: none;
  display: flex;
  align-items: center;
  padding: .5em;
  box-sizing: border-box;
  cursor: pointer;

  &.--place-header {
    margin-left: auto;
    max-width: min(30vmax, 20em);
  }

  &__img {
    flex: none;
    @include box(3em);
    min-width: 3em;
    max-width: 3em;
    border-radius: 50%;
    object-fit: cover;
    @extend %alt-text-on-after;
  }
  
  &__info {
    flex: auto;
    padding: .5em .875em;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    @extend %cutText;
  }

  &__subtitle {
    margin: 0;
    color: var(--darkLow);
    line-height: 150%;
    font-size: .75em;
    @extend %cutText;
  }

  &__btn {
    flex: none;

    @extend .button;
    @extend .--icon-on-before; 
    @extend .--variant-icon;
    @extend .--theme-text;

    &::before {
      content: "\F0FC5";
    }
  }
}