.profile {
  flex: none;
  display: flex;
  gap: .5em;
  align-items: center;
  padding: .5em;
  box-sizing: border-box;

  &.--place-header {
    padding-left: 0;
    padding-right: 0;
    max-width: calc(100% - 14vmax);
  }  

  &.--place-edit-profile {
    cursor: default;

    & .profile__img {
      margin-left: auto;
      @include box(8em);
      min-width: 8em;
      max-width: 8em;
      border-radius: 15px;
    }
  }

  &__content {
    display: grid;
    gap: 0 .875em;
    grid-template-columns: auto 1fr;
    cursor: pointer;
  }

  &__img {
    grid-row: 1/3;
    @include box(3em);
    border-radius: 50%;
    object-fit: cover;
    @extend %alt-text-on-after;
  }

  &__title {
    align-self: end;
    margin: 0;
    font-weight: 600;
    @extend %cutText;
  }

  &__subtitle {
    margin: 0;
    color: var(--darkLow);
    line-height: 150%;
    font-size: .75em;
    @extend %cutText;
  }
}