.search {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  margin: .5em 0 1em;

  &__row {
    display: flex;
    gap: .5em;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__field {
    flex: 1 0 15em;
  }

  &__button {
    flex: none;
  }

  &__controls {
    flex: none;
    margin-left: auto;

    & button {
      margin-left: .5em;
      min-width: 7rem;
    }
  }

  &__accordion {
    display: none;

    &.--opened {
      display: block;
      animation: fadeIn 0.2s ease-in both;
    }
  }
}

@include media(md) {
  .search {
    &__row.--main-search .search__field {
      flex: auto;
    }

    &__field {
      flex: 0 0 calc((100% / 2) - .5em);
    }
  }
}

@include media(lg) {
  .search {
    &__field {
      flex: 0 0 calc((100% / 4) - .375em);
    }
  }
}

@include media(xl) {
  .search {
    &__field {
      flex: 0 0 calc((100% / 6) - .425em);
    }
  }
}