.search {
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  margin: .5em 0 1em;

  &__row {
    display: flex;
    gap: .5em;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-end;

    & .field {
      flex: 1 0 15em;
      @extend .--size-sm;

      & .field__input {
        background-color: var(--g100);
      }
    }
  }

  &__button {
    flex: none;
  }

  &__controls {
    flex: none;
    margin-left: auto;

    & button {
      margin-left: .5em;
      min-width: 7rem;
    }
  } 

  &__accordion {
    display: none;

    &.--opened {
      display: block;
      animation: fadeIn 0.2s ease-in both;
    }
  }
}

@include media(md) {
  .search {
    &__row {

      & .field {
        flex: 0 0 calc((100% / 2) - .5em);
      }

      &.--main-search .field {
        flex: auto;
      }
    }
  }
}

@include media(lg) {
  .search {
    &__row {

      & .field {
        flex: 0 0 calc((100% / 4) - .375em);
      }
    }
  }
}

@include media(xl) {
  .search {
    &__row {

      & .field {
        flex: 0 0 calc((100% / 6) - .425em);
      }
    }
  }
}