.support {
  align-self: center;
  margin-left: auto;

  @extend .button;
  @extend .--theme-outline;
  @extend .--icon-on-before;
  padding: .5em .875em;
  min-height: unset;

  &:before {
    content: "\F02D6";
    font-size: 1.125em;
  }
  
  & span {
    display: none;
  }
}

@include media(sm) {
  .header {
    &__exit span {
      display: unset;
    }
  }
}