.table {
  &__container {
    width: 100%;
    overflow: auto;
  }

  // сортировка
  &__sorting {
    width: max-content;
    margin: 0;
    cursor: pointer;

    width: fit-content;

    display: flex;
    gap: .25em;
    align-items: center;
    justify-content: space-between;


    &::after {
      @extend %icon-on-before;
      flex: none;
      font-size: 1.25em;
      opacity: .26;
      transition: opacity .25s ease-in-out;
    }

    &:hover::after {
      opacity: .54;
    }

    &:active::after {
      transform: translateY(1px);
    }

    &.--actived::after {
      opacity: 1;
    }

    &.--state-ascending::after {
      content: "\F04BD";
    }

    &.--state-descending::after {
      content: "\F04BC";
    }
  }

  &__row-hover:hover {
    cursor: pointer;
  }

  table {
    table-layout: fixed;
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    tbody tr {
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: rgba($color: black, $alpha: .035);
      }
    }

    & th {
      text-align: left;
      color: var(--g300);
      font-size: .875em;
      font-weight: normal;
      padding: .25rem .75rem;
      border-bottom: 1px solid var(--g300);
    }

    & td {
      padding: .75em .75em;
      border-bottom: 1px solid var(--g200);
    }
  }
}