.tab {

  &__list {
    @extend %reset-list;
    display: flex;
    gap: .5em;
    box-sizing: border-box;
    overflow-x: auto;
    @include scroll-bar(4px, 4px);
  }

  &__item {
    padding: .5em .875em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: .25s ease-in-out;
    transition-property: background-color, color;

    @extend %cutText;
    min-width: 4em;

    border-radius: 25px;

    &:not(.--actived):hover {
      color: var(--primary);
    }

    &.--actived {
      font-weight: 600;
      color: var(--primary);
      background-color: rgba(map-get($colors, "primary"), .1);
    }
  }

  &__section {
    display: none;

    &.--actived {
      display: block;
      animation: fadeIn 0.2s ease-in both;
    }
  }
}