@import url(../../node_modules/normalize.css/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Infant:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap);  
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css);
@import "_assets/variables.public"; 
@import "_assets/mixins";
@import "_assets/extends";

:root {

  @each $name,
  $color in $colors {
    --#{"" + $name}: #{$color};
  }
 
  // FONT 
  --ff-firm: 'Bebas Neue', cursive;
  --ff-base: 'Open Sans', sans-serif; 
}
 
html {  
  color: var(--dark);
  font-family: var(--ff-base);
}

@import "blocks.public/header";

// Общие 

.--hide {
  display: none !important;
}

.--no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.--no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}