@import url(../../node_modules/normalize.css/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css);
@import "_assets/variables";
@import "_assets/mixins";
@import "_assets/extends";

:root {
    @each $name, $color in $colors {
        --#{"" + $name}: #{$color};
    }

    // FONT
    --ff-firm: "Bebas Neue", cursive;
    --ff-base: "Montserrat", sans-serif;
    --ff-public: "Open Sans", sans-serif;
}

html {
    color: var(--dark);
    font-family: var(--ff-base);
}

@import "blocks/popup-login";
@import "blocks/form";
@import "blocks/icon";
@import "blocks/link";

@import "blocks/content";
@import "blocks/logo";

@import "blocks/search";
@import "blocks/pagin";
@import "blocks/profile";
@import "blocks/profile-card";

@import "blocks/error-page";
@import "blocks/multy-select";
@import "blocks/gallery-form";
@import "blocks/request-status";
@import "blocks/request-card";

// Общие

.--hide {
    display: none !important;
}

.--no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.--no-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header {
    display: flex;
    &__logo {
        padding: 0.675em;
        img {
            width: 200px;
            object-fit: contain;
        }
    }
}

.menu {
    &__list {
      @extend %reset-list;
    }
    &__link {
    }
}
