@import "../../styles/_assets/variables";
@import "../../styles/_assets/mixins";
@import "../../styles/_assets/extends";

.content {
    font-family: var(--ff-public);
}

.header {
    background-color: var(--g600);
}

.headerWrap {
    @extend %main-width;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--white);
}

.headerLogo {
    flex: none;
    align-self: stretch;
    background-color: var(--white);
    padding: 0.675em min(3vmax, 3em);
    width: min(20vmax, 18.75em);
    box-sizing: border-box;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.menu {
    flex: auto;
    margin: 0;
    padding-left: 0;

    &PlaceFooter {
        .menuList {
            flex-direction: column;
            gap: 1em;
        }
        .menuLink {
            padding: 0;
            text-align: left;
            font-weight: normal;
        }
    }
}

.menuList {
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menuLink {
    display: inline-block;
    color: inherit;
    text-align: center;
    text-decoration: unset;
    font-size: min(1.75vmax, 1.25em);
    font-weight: 600;
    padding: min(1.5vmax, 1.25em);
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.25s ease-in;

    &:hover {
        color: var(--public-primary);
    }
}

.footer {
    background-color: var(--g600);
}
.footerWrap {
    @extend %main-width;
}

.footerColumns {
    display: flex;
    padding-top: 2em;
    padding-bottom: 1.25em;
    color: var(--light);
    border-bottom: 1px solid var(--g500);
}
.footerColumn {
    flex: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &ContentContact {
        flex-basis: 50%;
    }
}

.footerColumnHeading {
    color: var(--white);
    font-size: 1.25em;
    margin: 0 0 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.link {
    display: inline-flex;
    align-items: center;
    gap: 0.375em;
    font-size: min(1.75vmax, 1.25em);
    color: var(--light);
    text-decoration: none;
    margin-bottom: 0.675rem;
    transition: color 0.25s ease-in;

    &:hover {
        color: var(--public-primary);
        svg path {
            fill: var(--public-primary);
        }
    }
}

.linkIcon {
    flex: none;
    svg {
        @include box(1.25em);
        path {
            fill: var(--light);
            transition: fill 0.25s ease-in;
        }
    }
}

.loginLink {
    font-weight: 600;
    color: var(--lightLow);
    text-decoration: none;
    margin-top: auto;
    transition: color 0.25s ease-in;

    &:hover {
        color: var(--white);
    }
}

.footerCopy {
    margin: 0;
    padding: 1.25em 0;
    font-weight: 600;
    color: var(--lightLow);
}
