@import "../../../styles/_assets/variables";
@import "../../../styles/_assets/mixins";

.button {
  appearance: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  box-sizing: border-box;
  cursor: pointer;

  font-size: 100%;
  padding: .25em 1.5em;
  min-height: 3.125em;
  text-align: center;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: .25s ease-out;
  transition-property: box-shadow, background-color;

  &:disabled {
    pointer-events: none;
    user-select: none;
    background: var(--g100);
    color: var(--darkLow);
  }

  &__text {
    font-size: inherit;
    font-weight: 500;
  }

  &_size_sm {
    padding: .25em 1em;
    min-height: 2.75em;

    .button__text {
      font-size: .875em;
    }
  }

  &_theme_primary {
    color: var(--white);
    background-image: var(--primary-gradient);
    background-color: var(--primary);

    &:hover {
      box-shadow: 0 2px 6px rgba(black, .15);
    }

    &:active {
      background: darken(map-get($colors, "primary"), 2.5%);
    }
  }

  &_theme_success {
    color: var(--white);
    background-color: var(--success);

    &:hover {
      box-shadow: 0 2px 6px rgba(black, .15);
    }

    &:active {
      background: darken(map-get($colors, "success"), 2.5%);
    }
  }

  &_theme_outline {
    color: var(--dark);
    border-color: var(--primary);

    &:hover {
      background-color: rgba(map-get($colors, "primary"), .1);
    }
  }

  &_theme_text {
    color: var(--primary);

    &:hover {
      background-color: rgba(map-get($colors, "primary"), .1);
    }
  }

  &_loading {
    position: relative;

    pointer-events: none;
    user-select: none;
    background-image: unset;
    background-color: var(--g100);
    color: transparent;

    .button__spinner {
      display: flex;
    }
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    @include box(100%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &>div {
      @include box(0.875em);
      border-radius: 50%;
      background-color: var(--g300);
      margin-right: 2.5%;
      animation: loader 1.25s infinite ease-in-out both;

      &:nth-of-type(2) {
        animation-delay: .25s;
      }

      &:last-of-type {
        animation-delay: .5s;
        margin-right: 0;
      }
    }
  }
}

@include keyframes(loader) {

  0%,
  80%,
  100% {
    transform: translate3d(0, 0, 0) scale(0.25);
    opacity: 0;
  }

  40% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}