@import "../../../styles/_assets/variables";
@import "../../../styles/_assets/mixins";
@import "../../../styles/_assets/extends";

:root {
  --field-v-paddings: .75rem;
  --field-g-paddings: 1rem;
  --field-min-height: 3.125rem;
  --field-icon-size: 1.5rem;
}

.field {
  position: relative;

  &_state_error {
    .container {
      border-color: var(--error);
    }

    .input {
      @include placeholder {
        color: var(--error);
      }
    }

    .icon_svg {
      color: var(--error);
    }
  }

  &_size_small {
    --field-v-paddings: .5rem;
    --field-min-height: 2.75rem;

    .label {
      font-size: .875em;
    }
  }

  &_layout_flex {
    @include media(sm) {
      display: grid;
      gap: 0 1.25em;
      align-items: start;
      grid-template-columns: min(35%, 20em) 1fr;

      .label {
        padding-top: var(--field-v-paddings);
      }

      .info {
        position: relative;
        top: unset;
        grid-column: 2/3;
      }
    }
  }

  &_type_checkbox {
    display: inline-flex;
    align-items: flex-start;
    gap: .5em;

    .label {
      padding-left: 0;
    }

    .checkbox {
      order: -1;
      flex: none;
      margin-left: var(--field-g-paddings);
    }
  }

  &_type_checkbox_variant {
    .label {
      width: calc(100% - 58px);
      margin-top: .25em;
      margin-right: .5em;
    }
  }
}

.label {
  display: inline-block;
  box-sizing: border-box;
  line-height: 150%;
}

.container {
  position: relative;

  min-height: var(--field-min-height);
  padding: var(--field-v-paddings) var(--field-g-paddings);
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--g200);
  border-radius: 15px;
  transition: 0.35s ease-out;
  transition-property: border-color, color;

  display: flex;
  align-items: center;

  &:hover {
    border-color: var(--dark);

    & .input_placeholder {
      color: var(--dark);
    }
  }
}

.input_container {
  flex: auto;
}

.input {
  @extend %reset-input;
  padding: 0;
  border: none;

  @include placeholder {
    color: var(--darkLow);
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--white) inset;
  }
}

.select {
  @extend %reset-input;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7,10L12,15L17,10H7Z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - var(--field-g-paddings) / 2);
  background-position-y: 50%;
  min-height: var(--field-min-height); // для браузеров Iphone
  padding: var(--field-v-paddings) calc(var(--field-g-paddings) + var(--field-icon-size)) var(--field-v-paddings) var(--field-g-paddings); // для селектов верт. отступы
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--g200);
  border-radius: 15px;
  transition: 0.35s ease-out;
  transition-property: border-color, color;
  width: 100%;
}

.checkbox {
  @extend %reset-checkbox;
  position: relative;
  display: inline-block;
  @include box(1.125em);
  min-width: 1.125em;
  cursor: pointer;

  &:hover {
    &::before {
      background-color: var(--g200);
    }

    &::after {
      border-color: var(--g300);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include box(100%);
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid var(--g300);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include box(50%, 70%);
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(40deg) translateY(-25%) translateX(40%);
  }

  &:checked:before {
    border-color: var(--primary);
    background-color: var(--primary);
  }

  &:checked::after {
    border-bottom: 3px solid var(--white);
    border-right: 3px solid var(--white);
  }
}

.checkbox_variant {
  @extend %reset-checkbox;
  vertical-align: top;
  position: relative;
  cursor: pointer;

  &:checked::after {
    left: calc(100% - 27px);
  }

  &:checked::before {
    background-color: var(--primary);
  }

  &::before {
    content: "";
    display: block;
    @include box(50px, 30px);
    border-radius: 25px;
    background-color: var(--g200);
    box-shadow: inset 0 0 6px rgba(black, .15);
    transition: background-color .25s ease-in;
  }

  &:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    @include box(24px);
    border-radius: 25px;
    background-color: var(--white);
    box-shadow: 0 0 3px rgba(black, .15);
    transition: left .25s ease-in;
  }
}

.icon {
  flex: none;
  @include box(1.5em);
  min-width: 1.5em;
  max-width: 1.5em;
  fill: currentColor;
}

.icon_svg {
  @include box(1.5em);
  color: var(--darkLow);
}

.info {
  margin: 0;

  position: absolute;
  top: -.625em;
  left: var(--field-g-paddings);
  right: var(--field-g-paddings);
  @extend %cutText;
  background-color: var(--white);
  padding-left: .25em;
  padding-right: .25em;
  color: var(--error);

  font-style: italic;
  font-size: .75em;
}