@import "../../styles/_assets/variables";
@import "../../styles/_assets/mixins";
@import "../../styles/_assets/extends";

.section {
    &_bg_g100 {
        background-color: var(--g100);
    }
}

.wrap {
    @extend %main-width;
    @extend %padding-section;
}

.title {
    margin: 0;
    margin-bottom: min(6.25vmax, 3.125rem);
    font-family: var(--ff-firm);
    font-weight: 500;
    font-size: min(4vmax, 2.75em);
    text-transform: uppercase;
    color: var(--public-primary);
}

.subtitle {
    margin: 0;
    margin-bottom: min(5vmax, 2.5rem);
    font-family: var(--ff-firm);
    font-weight: 500;
    font-size: min(3vmax, 2em);
    text-transform: uppercase;
    color: var(--public-accent);
}

.twoColumns {
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @include media(lg) {
        flex-direction: row;
    }
}

.linkButton {
    color: var(--public-primary);
    text-decoration: none;
    font-size: 1.25em;
    line-height: 1.5;
    text-align: center;
    padding: 0.25em 1.25em;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.15s ease-in;

    &:hover {
        background-color: rgba(map-get($colors, "public-primary"), 0.1);
    }
}

.concord {
    flex: auto;
    display: flex;
    flex-direction: column;

    .linkButton {
        display: block;
        width: max-content;
        margin-left: auto;
    }
}

.concordImg {
    float: left;
    margin-right: 1.25em;
    margin-bottom: 0.875em;
    width: min(27.25vmax, 27.25em);
    object-fit: contain;
}

.concordMainText {
    flex: auto;
    font-size: 1.25em;
    line-height: 1.4;

    border-bottom: 1px solid var(--g200);
    padding-bottom: 1.25em;
    margin-bottom: 1.25em;
    box-sizing: border-box;
}

.news {
    flex: 0 0 min(29.5vmax, 29.5em);
    display: flex;
    flex-direction: column;

    @include media(lg) {
        padding: 0 1.25em;
        box-sizing: border-box;
    }

    .linkButton {
        display: block;
        width: max-content;
        margin: 0 auto;
    }
}

.newsList {
    flex: auto;

    @extend %reset-list;
    border-bottom: 1px solid var(--g200);
    padding-bottom: 1.25em;
    margin-bottom: 1.25em;
    box-sizing: border-box;
}

.newImg {
    width: 100%;
    max-width: min(29.5vmax, 29.5em);
    object-fit: cover;
    aspect-ratio: 16/9;
    margin-bottom: 1.25em;
}

.newDate {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}

.newTitle {
    margin: 0;
    font-size: 1.375em;
    font-weight: 600;
}

.newPharagraph {
    margin: 0;
    font-size: 1.125em;
    color: var(--darkLow);

    @include clamp(3, 1.35);
}

.performances {
    .linkButton {
        display: block;
        width: max-content;
        margin: 2.5em auto 0;
    }
}
.performancesList {
    @extend %reset-list;
    display: grid;
    gap: 0.675em;

    @include media(md) {
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    }
}

.performance {
    text-decoration: none;
    color: inherit;

    display: block;

    box-shadow: 0 0 15px rgba(black, 0.15);
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.25s ease-in;

    &:hover {
        box-shadow: 0 0 15px rgba(black, 0.26);

        & .performanceImg {
            transform: scale(1.1);
        }
    }

    @include media(sm) {
        display: flex;
    }
}

.performanceImgBlock {
    flex-basis: max(40%, 17em);
    overflow: hidden;
}

.performanceImg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease-in;
}
.performanceInfo {
    padding: 1.25em;
}
.performanceTitle {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1rem;
}
.performanceList {
    @extend %reset-list;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.performancePharagraph {
    margin: 0;
    color: var(--darkLow);
}
.performanceSpanAccent {
    font-weight: bold;
    color: var(--dark);
}

.qoute {
    @include box(100%);

    display: grid;
    align-items: center;
    padding: 1.875em;
    box-sizing: border-box;
    gap: 0.675em 1.25em;

    box-shadow: 0 0 15px rgba(black, 0.15);
    border-radius: 5px;
    transition: box-shadow 0.25s ease-in;

    &:hover {
        box-shadow: 0 0 15px rgba(black, 0.26);
    }

    @include media(sm) {
        grid-template-columns: auto 1fr;
    }
}
.qouteImg {
    width: 10em;
    grid-row: span 2;
    display: block;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.qouteTitle {
    align-self: end;

    margin: 0;
    font-size: min(1.75vmax, 1.25em);
    font-weight: 600;
    max-width: 27.3125rem;
}

.qouteTitleSpan {
    display: block;
    font-size: 1rem;
}

.qouteText {
    align-self: start;

    margin: 0;
    font-style: italic;
    max-width: 27.3125rem;
}
