@import "../../styles/_assets/variables";
@import "../../styles/_assets/mixins";
@import "../../styles/_assets/extends";

.section {
    background: #412f91;
    background: radial-gradient(to bottom left, #412f91, #7352a3);
}

.wrap {
    position: relative;
    z-index: 1;
    @extend %main-width;
    // padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--white);
}

.img {
    @include box(100%);
    object-fit: contain;
}
